<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gesture Slide Control</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
</head>
<body class="min-h-screen bg-cyan-300/20 backdrop-blur-xl flex items-center justify-center">
  <div class="flex flex-col items-center py-6 space-y-4 min-h-screen w-full bg-cyan-300/20 backdrop-blur-xl border border-cyan-100 rounded-2xl shadow-xl px-6">
    <h2 class="text-3xl font-bold text-center">Welcome, {{ user }}!</h2>
    <p class="text-sm text-white-300 text-center">
      <strong>  Use ☝️ 1 finger = For Next Slide   ,  ✌️ 2 fingers = For Previous Slide.  </br> <b></b> Your face is use to Authenticate and allowed for  Presentation.</b> </strong>
    </p>
    <div class="relative w-full max-w-6xl mx-auto mt-8 flex justify-center items-start space-x-6">
      <!-- Slide -->
      <img id="slide" src="/static/slides/Slide1.png" alt="Slide"
           class="rounded-xl shadow-2xl w-[960px] h-[500px]" />
    
      <!-- Camera box (right side of slide) -->
      <video id="video" autoplay muted playsinline
             class="w-100 h-80 rounded-xl border-4 border-white shadow-2xl"></video>
              <!-- Gesture label -->
      <div id="gesture" class="fixed top-60 right-20 bg-black bg-opacity-70 text-white text-xl px-6 py-2 rounded-lg hidden shadow-md z-50" style="top: 480px; right: 150px;">
        Hand Detected
      </div>
    </div>
    
    <!-- Face verification status -->
    <p id="status" class="text-lg font-semibold text-center mt-2">🔒 Verifying face...</p>
     
      
    <!-- Stop button -->
    <button onclick="stopPresentation()"
      class="mt-6 px-6 py-2 bg-red-600 hover:bg-blue-700 text-white font-semibold rounded-full shadow-md transition">
      Stop Presentation
    </button>
  </div>

<script src="{{ url_for('static', filename='js/gesture.js') }}"></script>

<script>
  const stopPresentationUrl = "{{ url_for('stop_presentation') }}";
</script>

</body>
</html>
